@import 'tailwindcss';
@plugin 'daisyui';

@font-face {
    font-family: 'Dosis';
    src: url('/fonts/Dosis-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('/fonts/Dosis-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('/fonts/Dosis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@theme {
    --font-sans: Dosis, sans-serif;
}

:root {
    --game-board-line-color: var(--color-base-content);
    --game-board-clue-color: var(--color-base-content);
    --game-board-guess-color: var(--color-accent);
    --game-board-wrong-color: var(--color-error);
    --game-board-note-outer-color: var(--color-accent);
    --game-board-note-center-color: var(--color-info);
    --game-board-selected-color: color-mix(in lab, var(--color-primary) 10%, transparent);
}

/* In dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --game-board-selected-color: color-mix(in lab, var(--color-primary) 50%, transparent);
    }
}